$ionicons-font-path: "../../lib/ionic/fonts" !default;


// Shared Variables
// --------------------------------------------------
$text-color: #000;
$background-color: #fff;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
//previous secondary color 36618b 
$colors: ( 
  primary:    #ef6c00, 
  secondary:  #156611,  
  facebook:   #4267B2, 
  success:    #32db64, 
  danger:     #df5656, 
  light:      #f4f4f4, 
  dark:       #222222, 
  text:       #424242
  );


  // Fonts
// --------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Engagement|Cairo:400,900');

//Custom overrides
// --------------------------------------------------
@import "./rtl";

